## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_clean_df = application_df.drop(["EIN","NAME"],axis=1)
application_clean_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [10]:
# Determine the number of unique values in each column.
value_list = application_clean_df.dtypes.index.tolist()
unique_count = application_df[value_list].nunique()
unique_count

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
df_count = application_clean_df['APPLICATION_TYPE'].value_counts()
df_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [13]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(df_count[df_count<600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Look at CLASSIFICATION value counts for binning
class_count = application_clean_df['CLASSIFICATION'].value_counts()
class_count.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_clean_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_clean_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [21]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# installing kera_tuner upgrade
# !pip install keras-tuner --upgrade

# Import the kerastuner library
import keras_tuner as kt

Using TensorFlow backend

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 20

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
        units=hidden_nodes_layer2, activation="sigmoid"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1170

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 1411 (5.51 KB)
Trainable params: 1411 (5.51 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [28]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 1s 491us/step - loss: 0.5939 - accuracy: 0.7003
Epoch 2/25
804/804 [==============================] - 0s 492us/step - loss: 0.5618 - accuracy: 0.7303
Epoch 3/25
804/804 [==============================] - 0s 475us/step - loss: 0.5565 - accuracy: 0.7330
Epoch 4/25
804/804 [==============================] - 0s 464us/step - loss: 0.5536 - accuracy: 0.7320
Epoch 5/25
804/804 [==============================] - 0s 535us/step - loss: 0.5519 - accuracy: 0.7339
Epoch 6/25
804/804 [==============================] - 0s 514us/step - loss: 0.5503 - accuracy: 0.7341
Epoch 7/25
804/804 [==============================] - 0s 477us/step - loss: 0.5493 - accuracy: 0.7333
Epoch 8/25
804/804 [==============================] - 0s 494us/step - loss: 0.5483 - accuracy: 0.7337
Epoch 9/25
804/804 [==============================] - 0s 472us/step - loss: 0.5472 - accuracy: 0.7349
Epoch 10/25
804/804 [==============================] - 0s 477us/step - loss: 0.5470 - accuracy: 0.7348
Epoch 11/25
804/804 [==============================] - 0s 473us/step - loss: 0.5462 - accuracy: 0.7354
Epoch 12/25
804/804 [==============================] - 0s 474us/step - loss: 0.5455 - accuracy: 0.7349
Epoch 13/25
804/804 [==============================] - 0s 463us/step - loss: 0.5449 - accuracy: 0.7350
Epoch 14/25
804/804 [==============================] - 0s 469us/step - loss: 0.5443 - accuracy: 0.7344
Epoch 15/25
804/804 [==============================] - 0s 499us/step - loss: 0.5442 - accuracy: 0.7360
Epoch 16/25
804/804 [==============================] - 0s 475us/step - loss: 0.5438 - accuracy: 0.7355
Epoch 17/25
804/804 [==============================] - 0s 465us/step - loss: 0.5433 - accuracy: 0.7354
Epoch 18/25
804/804 [==============================] - 0s 461us/step - loss: 0.5430 - accuracy: 0.7359
Epoch 19/25
804/804 [==============================] - 0s 475us/step - loss: 0.5430 - accuracy: 0.7355
Epoch 20/25
804/804 [==============================] - 0s 465us/step - loss: 0.5425 - accuracy: 0.7356
Epoch 21/25
804/804 [==============================] - 0s 470us/step - loss: 0.5424 - accuracy: 0.7354
Epoch 22/25
804/804 [==============================] - 0s 499us/step - loss: 0.5420 - accuracy: 0.7376
Epoch 23/25
804/804 [==============================] - 0s 467us/step - loss: 0.5416 - accuracy: 0.7366
Epoch 24/25
804/804 [==============================] - 0s 467us/step - loss: 0.5414 - accuracy: 0.7374
Epoch 25/25
804/804 [==============================] - 0s 461us/step - loss: 0.5411 - accuracy: 0.7369

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [29]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization1.h5')

/Users/auroracorzas/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [43]:
# 2nd try:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 30
hidden_nodes_layer2 = 35
hidden_nodes_layer3 = 40
nn_model = tf.keras.models.Sequential()

In [44]:
# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
            units=hidden_nodes_layer2, activation="sigmoid"))

# 3rd hidden layer
nn_model.add(tf.keras.layers.Dense(
        units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 30)                3510

 dense_12 (Dense)            (None, 35)                1085

 dense_13 (Dense)            (None, 40)                1440

 dense_14 (Dense)            (None, 1)                 41

=================================================================
Total params: 6076 (23.73 KB)
Trainable params: 6076 (23.73 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [45]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [46]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 1s 613us/step - loss: 0.5823 - accuracy: 0.7153
Epoch 2/25
804/804 [==============================] - 1s 636us/step - loss: 0.5579 - accuracy: 0.7316
Epoch 3/25
804/804 [==============================] - 1s 659us/step - loss: 0.5518 - accuracy: 0.7320
Epoch 4/25
804/804 [==============================] - 0s 614us/step - loss: 0.5490 - accuracy: 0.7349
Epoch 5/25
804/804 [==============================] - 0s 607us/step - loss: 0.5472 - accuracy: 0.7344
Epoch 6/25
804/804 [==============================] - 1s 670us/step - loss: 0.5462 - accuracy: 0.7345
Epoch 7/25
804/804 [==============================] - 0s 578us/step - loss: 0.5449 - accuracy: 0.7342
Epoch 8/25
804/804 [==============================] - 0s 579us/step - loss: 0.5441 - accuracy: 0.7350
Epoch 9/25
804/804 [==============================] - 0s 583us/step - loss: 0.5436 - accuracy: 0.7345
Epoch 10/25
804/804 [==============================] - 0s 579us/step - loss: 0.5424 - accuracy: 0.7364
Epoch 11/25
804/804 [==============================] - 0s 610us/step - loss: 0.5413 - accuracy: 0.7371
Epoch 12/25
804/804 [==============================] - 0s 578us/step - loss: 0.5411 - accuracy: 0.7373
Epoch 13/25
804/804 [==============================] - 0s 578us/step - loss: 0.5404 - accuracy: 0.7374
Epoch 14/25
804/804 [==============================] - 0s 579us/step - loss: 0.5404 - accuracy: 0.7370
Epoch 15/25
804/804 [==============================] - 0s 577us/step - loss: 0.5396 - accuracy: 0.7376
Epoch 16/25
804/804 [==============================] - 0s 574us/step - loss: 0.5392 - accuracy: 0.7369
Epoch 17/25
804/804 [==============================] - 0s 613us/step - loss: 0.5394 - accuracy: 0.7378
Epoch 18/25
804/804 [==============================] - 0s 574us/step - loss: 0.5389 - accuracy: 0.7388
Epoch 19/25
804/804 [==============================] - 0s 574us/step - loss: 0.5380 - accuracy: 0.7387
Epoch 20/25
804/804 [==============================] - 0s 582us/step - loss: 0.5379 - accuracy: 0.7384
Epoch 21/25
804/804 [==============================] - 0s 575us/step - loss: 0.5372 - accuracy: 0.7386
Epoch 22/25
804/804 [==============================] - 0s 610us/step - loss: 0.5372 - accuracy: 0.7390
Epoch 23/25
804/804 [==============================] - 0s 574us/step - loss: 0.5368 - accuracy: 0.7400
Epoch 24/25
804/804 [==============================] - 0s 575us/step - loss: 0.5363 - accuracy: 0.7402
Epoch 25/25
804/804 [==============================] - 0s 606us/step - loss: 0.5369 - accuracy: 0.7399

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5512 - accuracy: 0.7284 - 158ms/epoch - 590us/step
Loss: 0.551170289516449, Accuracy: 0.728396475315094

In [48]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization2.h5')

In [53]:
# 3rd Try:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 25
hidden_nodes_layer3 = 20
nn_model = tf.keras.models.Sequential()

In [54]:
# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="tanh"))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="sigmoid"))

# 3rd hidden layer
nn_model.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 50)                5850

 dense_20 (Dense)            (None, 25)                1275

 dense_21 (Dense)            (None, 20)                520

 dense_22 (Dense)            (None, 1)                 21

=================================================================
Total params: 7666 (29.95 KB)
Trainable params: 7666 (29.95 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [55]:
# Compile the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [56]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=25)

Epoch 1/25
804/804 [==============================] - 1s 638us/step - loss: 0.5856 - accuracy: 0.7109
Epoch 2/25
804/804 [==============================] - 0s 608us/step - loss: 0.5591 - accuracy: 0.7327
Epoch 3/25
804/804 [==============================] - 1s 623us/step - loss: 0.5532 - accuracy: 0.7341
Epoch 4/25
804/804 [==============================] - 0s 583us/step - loss: 0.5505 - accuracy: 0.7330
Epoch 5/25
804/804 [==============================] - 0s 581us/step - loss: 0.5484 - accuracy: 0.7343
Epoch 6/25
804/804 [==============================] - 0s 586us/step - loss: 0.5470 - accuracy: 0.7357
Epoch 7/25
804/804 [==============================] - 0s 608us/step - loss: 0.5460 - accuracy: 0.7351
Epoch 8/25
804/804 [==============================] - 1s 715us/step - loss: 0.5445 - accuracy: 0.7358
Epoch 9/25
804/804 [==============================] - 1s 631us/step - loss: 0.5442 - accuracy: 0.7365
Epoch 10/25
804/804 [==============================] - 0s 582us/step - loss: 0.5428 - accuracy: 0.7375
Epoch 11/25
804/804 [==============================] - 0s 582us/step - loss: 0.5418 - accuracy: 0.7372
Epoch 12/25
804/804 [==============================] - 0s 582us/step - loss: 0.5416 - accuracy: 0.7369
Epoch 13/25
804/804 [==============================] - 0s 584us/step - loss: 0.5409 - accuracy: 0.7372
Epoch 14/25
804/804 [==============================] - 1s 631us/step - loss: 0.5401 - accuracy: 0.7378
Epoch 15/25
804/804 [==============================] - 0s 584us/step - loss: 0.5398 - accuracy: 0.7364
Epoch 16/25
804/804 [==============================] - 0s 582us/step - loss: 0.5393 - accuracy: 0.7378
Epoch 17/25
804/804 [==============================] - 0s 594us/step - loss: 0.5389 - accuracy: 0.7381
Epoch 18/25
804/804 [==============================] - 0s 600us/step - loss: 0.5388 - accuracy: 0.7378
Epoch 19/25
804/804 [==============================] - 1s 631us/step - loss: 0.5383 - accuracy: 0.7390
Epoch 20/25
804/804 [==============================] - 0s 595us/step - loss: 0.5381 - accuracy: 0.7388
Epoch 21/25
804/804 [==============================] - 0s 593us/step - loss: 0.5378 - accuracy: 0.7390
Epoch 22/25
804/804 [==============================] - 0s 593us/step - loss: 0.5377 - accuracy: 0.7391
Epoch 23/25
804/804 [==============================] - 0s 584us/step - loss: 0.5370 - accuracy: 0.7392
Epoch 24/25
804/804 [==============================] - 0s 582us/step - loss: 0.5369 - accuracy: 0.7389
Epoch 25/25
804/804 [==============================] - 0s 609us/step - loss: 0.5369 - accuracy: 0.7396

In [57]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5523 - accuracy: 0.7264 - 335ms/epoch - 1ms/step
Loss: 0.5522682070732117, Accuracy: 0.7264139652252197

In [58]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization3.h5')